<!DOCTYPE html>

<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/calc.css' %}">
</head>

<body>

    <div class="wrap">
        <div class="text-left gif">

        </div>

        <div class="text-center" id="text">

            <p class="text-customer">{{ car_number }} 번호 조회</p>

            <p class="text-customer">비용은 {{ pay_balance }}원 입니다</p>

            

            <form action="{% url 'parking:calc_carnum' car_number %}" method="POST">{% csrf_token %}

                {{ form.as_p }}

                <input id="pay-button" type="submit" class="btn btn-primary" value="결제 요청" name="carin">

            </form>
            {% if form.errors %}
            <span>{{ form.error }}</span>
            {% endif %}



            
        </div>
    </div>




    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
    </script>
    <script>
        $('label').hide();


    </script>

</body>

</html>














{% comment %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <style>

    </style>
</head>

<body>




    <div class="container">
        <div class="form-out">
            <p>{{ car_number }}</p>
            <p>위 차의 요금은</p>
            <p>{{ pay_balance }}</p>
            <form action="{% url 'parking:calc_carnum' car_number %}" method="POST">{% csrf_token %}

                {{ form.as_p }}

                <input type="submit" class="btn btn-primary" value="결제 요청" name="carin">

            </form>
            {% if form.errors %}
            <span>{{ form.error }}</span>
            {% endif %}
        </div>
    </div> {% endcomment %}















    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
    </script>
    <script>



    </script>
</body>

</html>