*{
    margin: 0;
    padding: 0;
}
body{
    text-align:center;
    background-image: url(../parking_main.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}
.modal-button{
    width: 150px;
    height: 150px;
    font-size: 3em;
    margin-right: 0.5vw;
}
#button-modal{
    display: flex;
    align-items: center;
    justify-content: center;
}
#button-modal button{
    border-radius: 20%;
}

#calc-check{
    display: none;
    margin-top: 10px;
}

#modal-wrap{
    padding-top: 50vh;
    padding-left: 9vw;
}

